/*affects all HTML elements, selector we'll rarely use*/
*{
    color: inherit;
}

body{
  margin: 20px;
  margin-top: 20px;
}

/*class first_class heading 1 properties*/
.myfirst h1{
    font-size: 1000px;
}

h1 {
    color: rgb(17, 17, 218); /*or #FF123234*/
    font-family: verdana;
    font-size: 300%;
  }

h2{
    font-size: 28px;
}

/*class id myfirst heading 1 properties*/
#myfirst{
    color:purple;
}

/*class first_class paragraph properties*/
div.first_class{
    color: rgb(3, 1, 22);
}

/*class first_class paragraph properties within div*/
.first_class p{
    color: rgb(14, 6, 6);
    font-style: italic;
}

/*span in paragraph properties within div, or just put with p above*/
.first_class span{
    color: red;
}

/*Pseudo-classes are selectors that refer to states of a particular element, usually a link.*/
a{
    color: aqua;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: red;
}

a:visited{
    color: brown;
}

a:focus{
    background-color:lightcoral;
}
